* {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    color: #333;
}

h2 {
    color: #333;
}

ul {
    margin-bottom: 20px;
    padding-left: 20px;
}

p {
    margin-top: 0px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.bi{
    margin:auto;
}