<section>
    <footer>
        <div class="footer-top mt-4" *ngIf="!isFooterRequired">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mt-2">
                        <h4>Our goal</h4>
                        <p>To improve the lives of those we serve by making innovative and high-quality health and
                            pharmacy services safe, affordable and easy to access.
                        </p>
                    </div>

                    <div class="col-md-4 mt-2">
                        <h4>Information</h4>
                        <ul class="address1">
                            <li><i class="bi bi-info-circle"></i><a routerLink="#">Marthandam</a></li>
                            <li><i class="bi bi-mailbox"></i><a routerLink="mailto:#">modernhealthcarecentre@gmail.com</a>
                            </li>
                            <li><i class="bi bi-phone"></i> <a routerLink="tel:90 87 38 69 21">+919087386921</a>.
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4 mt-2 mr-2">
                        <h4 style="margin: 8px;">Follow us</h4>
                        <ul class="social-icon">
                            <li><a routerLink="#"><i class="bi bi-facebook circle" aria-hidden="true"></i></a>
                                <a routerLink="#"><i class="bi bi-instagram circle" aria-hidden="true"></i></a>
                                <a routerLink="#"><i class="bi bi-twitter circle" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <p class="copyright text-uppercase">Copyright © 2023
                        </p>
                    </div>
                    <div class="col-lg-8" style="margin-top: 20px;margin: auto; display: flex;justify-content: end;">
                        <ul>
                            <a routerLink="/about" class="web">About Website</a>&nbsp;
                            <li><a routerLink="#">Blog</a></li>
                            <li><a routerLink="#">FAQ</a></li>
                            <li><a routerLink="/privacy-policy"> Our Privacy Policy</a></li>
                            <li><a routerLink="/terms&condition">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>