<div class="container mt-4 ">
  <div class="wrapper">
      <div class="row">
      <div class="col-4 card mx-2 my-2 " style="width:17rem;">
          <a routerLink="/doctor-list"><img src="../../assets/Images/doctorlist1.png" class="speciality1-png" alt="cardiology Image"></a>
          <p style="text-align: center;">Manage Doctors</p>
      </div>
      <div class="col-4 card mx-2 my-2 " style="width:17rem;">
        <a routerLink="/patient"><img src="../../assets/Images/Addpatient.png" class="speciality-png" alt="cardiology Image"></a>
        <p style="text-align: center;">Add Patient</p>
    </div>
    <div class="col-4 card mx-2 my-2 " style="width:17rem;">
      <a><img src="../../assets/Images/patientlist.png" class="speciality-png" alt="cardiology Image"></a>
      <p style="text-align: center;">Patient's List</p>
  </div>
  </div> 
</div>
</div>