<div class="container">
    <div class="paragraph1">
        <h2><b>Hospital Terms and Conditions</b></h2>
        <h4><b>1. Acceptance of Terms</b></h4>
        <p>By accessing or using the services provided by Modern Health-Care Centre, you agree to comply with and be
            bound by
            the following terms and conditions. If you do not agree to these terms, please refrain from using our
            services.</p>
    </div>
    <div class="paragraph2">
        <h4><b>2. Patient Rights</b></h4>
        <p><b>2.1 Patients have the right to:</b></p>
        <ul>
            <li>Receive respectful and considerate care.</li>
            <li>Access information about their medical condition and treatment plan.
            </li>
            <li>Privacy and confidentiality of their medical information.
            </li>
            <li>Make informed decisions about their healthcare.</li>
        </ul>
        <p><b>2.2 Patients are responsible for:</b></p>
        <ul>
            <li>Providing accurate and complete information about their health.</li>
            <li>Following prescribed treatment plans.</li>
            <li>Respecting the rights and property of hospital staff and other patients.</li>
            <li>Complying with hospital rules and regulations.</li>
        </ul>
    </div>
    <div class="paragraph3">
        <h4><b>3. Medical Services</b></h4>
        <p><b>3.1 Quality of Care</b></p>
        <p>We strive to provide high-quality medical care, but we do not guarantee specific outcomes. The nature of
            medical treatment involves uncertainty, and results may vary.</p>
        <p><b>3.2 Changes to Medical Staff</b></p>
        <p>The hospital reserves the right to make changes to its medical staff, and patients may be treated by
            different healthcare professionals during their stay.</p>
    </div>
    <div class="paragraph4">
        <h4><b>4. Billing and Payment</b></h4>
        <p><b>4.1 Billing</b></p>
        <p>Patients are responsible for all charges associated with their medical care. Detailed billing information
            will be provided, and questions can be directed to our billing department.</p>
        <p><b>4.2 Insurance</b></p>
        <p>Patients are responsible for understanding their insurance coverage and ensuring that the hospital is a
            covered provider. The hospital will submit claims to insurance on behalf of the patient.</p>
    </div>
    <div class="paragraph5">
        <h4><b>5. Appointments and Cancellations</b></h4>
        <p>Patients are encouraged to schedule appointments in advance. Cancellations should be made with sufficient
            notice to allow for scheduling adjustments.</p>
    </div>
    <div class="paragraph6">
        <h4><b>6. Security and Safety</b></h4>
        <p><b>6.1 Visitor Policy</b></p>
        <p>Visitors must comply with hospital policies, including visiting hours. The hospital reserves the right to
            restrict or deny visitation for safety or security reasons.</p>
        <p><b>6.2 Security Measures</b></p>
        <p>Security measures are in place to ensure the safety of patients, visitors, and staff. Non-compliance with
            security measures may result in removal from the premises.</p>
    </div>
    <div class="pargraph7">
        <h4><b>7. Dispute Resolution</b></h4>
        <p>Any disputes arising from the use of hospital services will be resolved through negotiation, mediation, or
            other dispute resolution mechanisms as required by law.
        </p>
    </div>
    <div class="paragraph8">
        <h4><b>8. Changes to Terms and Conditions</b></h4>
        <p>The hospital reserves the right to modify these terms and conditions at any time. Updated terms will be
            posted on our website, and continued use of our services constitutes acceptance of the updated terms.</p>
    </div>
</div>