<div class="bannerForSpeciality" *ngFor="let item of items">
    <img src={{item.img1}} class="specialityImage" alt="">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 Banner-content ">
                <h2><b>{{item.speciality_name}}</b> <img src={{item.img2}}></h2><br>
                <p>{{item.bannerContent}}</p>
            </div>
        </div>
    </div>
    </div><br>
    <hr style="margin: auto;">
    <div class="container">
        <div class="row">
            <h3 class="text-center"><b>Our Doctors</b></h3>
            <div class="card  mt-2 p-4 mb-4  " style="width: 21rem ;"
                *ngFor="let set of setData">
                <img src={{set.url}} class="card2" style="margin: auto;" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b>{{set.name}}</b></h5>
                    <p class="card-content" style="text-align: left;">{{set.description}}</p>
                    <button (click)="data(set.id,setData)" class="btn btn-primary">Click to view bio</button>
                </div>
            </div>
        </div>
    </div>
