.card{
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.container-fluid{
    width:100%
}
pagination-controls{
    justify-content: center;
    align-items: center;
    display: flex;
}